* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    box-sizing: border-box;
}

.todo-card {
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
    margin: 1em;
}

/* .todo-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */